@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
    height: 100vh;
}

h1{
    font-size: 4rem;
    color: white;
   margin-bottom: 4rem;
}
.container{
    max-width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:5px;
}
.reset{
    position: absolute;
    right: 30px;
    top:30px;
    cursor: pointer;
}
.reset svg{
    transform: scale(3);
}
.card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}
.card__inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card__inner--front, .card__inner--back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.card__image{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.card__inner--front {
   
    transform: rotateY(180deg);
  }
.card__inner--back{
    background-color: dodgerblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__inner--back svg{
    transform: scale(3);
}

.active{
    transform: rotateY(180deg);
}
.matched {
    animation: hideMatched .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    pointer-events: none;
    animation-timing-function: ease-in-out;
    
}

@keyframes hideMatched {
    from {
     opacity: 1;
     transform: scale(2);
    }
    to {
      opacity: 0;
      transform: scale(1);
      
    }
}

button{
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
}
